[user]
	name = Xavier Haniquaut
	email = xavier.haniquaut@gmail.com
[push]
	default = tracking
	followTags = true
[pull]
	rebase = merges
[status]
	showUntrackedFiles = all
[branch]
	autosetuprebase = always
[init]
	defaultBranch = main
[help]
	autocorrect = prompt
[alias]
	has = branch --contains
	dm = log origin/master..HEAD --oneline --no-merges
	dms = log origin/master..origin/staging --oneline --no-merges
# [blame]
	# ignoreRevsFile = .git-blame-ignore-revs
# work overrides
[includeIF "gitdir:~/dev/work/"]
   	path = ~/work.gitconfig
[core]
	pager = less -F -X
