[user]
	name = Xavier Haniquaut
	email = xavier.haniquaut@gmail.com
[push]
	default = tracking
	followTags = true
[pull]
	rebase = merges
[status]
	showUntrackedFiles = all
[branch]
	autosetuprebase = always
[init]
	defaultBranch = main
[help]
	autocorrect = prompt
[alias]
	has = branch --contains
# work overrides
[includeIF "gitdir:~/dev/work/"]
   	path = ~/work.gitconfig
